@import "../base/variables";

main {
    padding-top: 10rem;
    
    .contenedor_main {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;        
            section {
                width: 500px;
                justify-content: center;
                div {
                    background-color: rgba(34, 34, 34, 0.87);
                    border-radius: 2rem;
                    margin:0 1rem;
                    font-size: 1.5rem;
                    display: flex;
                    flex-direction: column;}
                h1 {
                    font-size: 2rem;
                    padding-top: 1rem;
                    display: flex;
                    justify-content: center;
                    margin: 1rem;

                }
                div {
                    a {
                        img {
                            width: 400px;
                            margin: 1rem 2rem;
                            border-radius: 1rem;
                        }

                    }
                }
                p {

                }
            }
        
            section {
                width: 500px;
                justify-content: center;
                div {
                    background-color: rgba(34, 34, 34, 0.87);
                    border-radius: 2rem;
                    margin:0 1rem;
                    font-size: 1.5rem;
                    display: flex;
                    flex-direction: column;}
                    h2 {
                        font-size: 2rem;
                        padding-top: 1rem;
                        display: flex;
                        justify-content: center;
                        margin: 1rem;

                    }
                    div {
                        a {
                            img {
                                width: 400px;
                                margin: 1rem 2rem;
                                border-radius: 1rem;
                            }
                        }
                    }
                    p {

                    }
                }
            }
            section {
                width: 500px;
                justify-content: center;
                div {
                    background-color: rgba(34, 34, 34, 0.87);
                    border-radius: 2rem;
                    margin:0 1rem;
                    font-size: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    }   
                    h3 {
                        font-size: 2rem;
                        padding-top: 1rem;
                        display: flex;
                        justify-content: center;
                        margin: 1rem;
                    }
                    div {
                        a {
                            img {
                                width: 400px;
                                margin: 1rem 2rem;
                                border-radius: 1rem;
                            }

                        }
                    }
                    p {
                        font-size: 1rem;
                        margin: 0rem 1.5rem 1rem 1.5rem;
                    }  
     }             
}
